:root{      
    --box-shadow: 2px 2px 100px 0.5px rgba(0, 0, 0, 0.15);
    --font-sansation: "Sansation";
    --font-fira-sans: "Fira Sans"
}

.taskBoard{
    width: 25%;
    height: 98%;
    overflow-y: scroll;
    padding-left: 10px;
}

.taskBoard::-webkit-scrollbar{
    display: none;
}

.addItem{
    width: 98%;
    height: 6%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}


.taskItem{
    width: 95%;
    height: 30%;
    border: 3px solid;
    padding-left: 3%;
    border-radius: 4px;
    margin-bottom: 10px;
}


.draggingState {
    color: gray;
    transform: perspective(600px) rotateX(10deg) rotateY(5deg) skewY(2deg);
    transition: transform 0.2s ease;
    border: 3px solid gray;
    cursor: move;
  }
  

.taskName{
    margin-top: 23px;
    font-weight: 700;
    font-size: 20px;
}

.taskNote{
    font-size: 14px;
    color: #919191;
    width: 70%;
    font-size: 18px;
    margin-top: 12px;
    height: 22%;
    overflow: hidden;
}

.taskProperty{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    height: 20%;
    
}


/* Modal Create Task */
.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContainer{
    width: 40%;
    height:60%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.displayer{
  width: 99%;
  height: 10%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  position: relative;
  box-sizing: border-box;
}
.taskOwner{
  font-family: var(--font-fira-sans);
  font-size: 1.2em;
  font-weight: 700;
  color: #919191;
}


.Xf{
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  &:hover{
    background-color: #f5d5f9;  
    cursor: pointer;
    border-radius: 4px;
  }
}

.taskNameAndDescription{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.6em;
}

.taskNameAndDescription input{
  width: 100%;
  height: 40%;
  outline:  none;
  padding-left: 1em;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #AF2BC1;
  border-radius: 4PX;
  font-family: var(--font-spline-sans);
  &::placeholder{
    color: gray;
    font-family: var(--font-fira-sans);
  }
  &:focus{
    border: 3px solid #AF2BC1;
  }
}
.taskNameAndDescription textarea{
  width: 100%;
  height: 56%;
  resize: none;
  border: 1px solid #AF2BC1;
  box-sizing: border-box;
  border-radius: 4PX;
  padding-left: 1em;
  padding-top: 1em;
  font-size: 20px;
  font-family: var(--font-spline-sans);
  &:focus{
    outline: none;
    border: 3px solid #AF2BC1;
  }
  &::placeholder{
    font-family: var(--font-fira-sans);
  }
}

.datesPriorityAndStatus{
  width: calc(100% - 1em);
  height: 10%;
  box-sizing: border-box;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 1em;
}


.startDate, .endDate, .priorityCheck{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
  font-family: var(--font-fira-sans);
  font-size: 0.9em;
}
.startDate input[type="date"], .endDate input[type="date"]{
  width: 90%;
  height: 70%;
  font-size: 1.2em;
  font-weight: 700;
  font-family: var(--font-fira-sans);
  border: none;
  outline: none;
  color: #919191;
}

.startDate label, .endDate label, .priorityCheck label{
  color: gray;
  font-size: 1.4em;
}

.startDate input[type="date"]::-webkit-calendar-picker-indicator,
.endDate input[type="date"]::-webkit-calendar-picker-indicator{
  margin-right: 3em;
  height: 1.8em;            /* size control */
  width: 1.8em;
}

.assignessSelection{
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
}

.frget{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frget div{
  background-color: rgb(175, 43, 193, 0.11);
  width: 95%;
  height: 50%;
  border-radius: 12px;
  font-family: var(--font-fira-sans);
  font-size: 2em;
  font-weight: 700;
  color: #AF2BC1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background-color: #AF2BC1;
    color: white;
    cursor: pointer;
  }
}

.error{
  color: red;
  font-family: var(--font-fira-sans);
  margin-bottom: 20px;
  position: absolute;
  top: 2%;
}


/* Task Modal */
.modalOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modalTaskContainer{
    position: relative;
    width: 40%;
    height:70%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

  .createTask{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .taskNameAndStatus{
    width: 90%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }

  .taskNameAndStatus input{
    width: 60%;
    font-size: 30px;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    border: none;
    outline: none;
  }

  .taskNameAndStatus select{
    width: 200px;
    height: 45px;
    border: 2px solid green;
    background-color: rgb(73, 142, 73);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    padding-left: 1em;
    font-family: var(--font-spline-sans);
    &:focus{
        outline: none;
    }
  }


  
  .startDate, .endDate, .priorityCheck{
    width: calc(100% - 0.6em);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 0.5em;
    font-family: var(--font-fira-sans);
    font-size: 0.9em;
  }
  .startDate input, .endDate input, .priorityCheck Select{
    width: 90%;
    height: 70%;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-fira-sans);
    border: none;
    outline: none;
  }

  .startDate input[type="date"]::-webkit-calendar-picker-indicator,
  .endDate input[type="date"]::-webkit-calendar-picker-indicator{
    margin-right: 3em;
    height: 1.5em;            /* size control */
    width: 1.5em;
  }

  .createTaskButton{
    width: 100%;
    height: 10%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .createTaskButton button{
    width: 100%;
    height: 100%;
  }


  .dateDetailBox{
    border: 2px solid black;
    width: 90%;
    height: 30%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 12px;

  }
  .detailHeader{
    border-bottom: 2px solid black;
    height: 50px;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1em;
    margin-bottom: 0.4em;
  }
  .boxDetails{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .creationHeader, .statHeader, .startHeader, .dueHeader{
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 700;
    color: black;
    box-sizing: border-box;
  }
  .creationHeader, .creationDateH{
    padding-left: 1em;
  }
  .creationDateH, .statD, .dueD{
    margin-top: 2em;
    font-size: 20px;
    font-weight: 400;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-fira-sans);
  }

  .dueD input[type="date"]{
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: gray;
    font-family: var(--font-fira-sans);
  }

  .dueD input[type="date"]::-webkit-calendar-picker-indicator{
    margin-right: 2em;
  }



  .descriptionContainer{
    width: 90%;
    height: 15%;
    margin-top: 2em;
  }
  .descriptionContainer h2{
    font-family: var(--font-sansation);
  }
  .descriptionContainer textarea{
    margin-top: 1em;
    resize: none;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    color: gray;
    padding: 1px 1px;
    border: none;
    font-family: var(--font-fira-sans);
    &:focus{
      border: none;
      outline: none;
    }
  }

  .assignesContainer{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 1px solid goldenrod;
    position: relative;
  }

  .selectAndDeselectUser {
    position: absolute;
    top: 100%; /* Places it just below the assignesContainer */
    left: 0;
    width: 100%; /* Optional: match width */
    z-index: 1000; /* Make sure it overlays properly */
    margin-top: 8px; /* Optional spacing */
  }


  .addMemOrRemv{
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    font-family: var(--font-fira-sans);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
  }

  .closeSelect, .updateTask{
    border:  1px solid black;
    &:hover{
      background-color: #AF2BC1;
      color: white;
      cursor: pointer;
    }
  }


  .assignedMember{
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: -20px;
    font-family: var(--font-sansation);
    font-weight: 900;
    background-color: rgb(235, 198, 240);
  }

  .remainingMembersCount{
    margin-left: 2em;
    font-size: 1em;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    color: gray;
  }

  .deleteTask{
    width: 90%;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2%;
  }

  .delete, .closeModal{
    width: 20%;
    height: 100%;
    border-radius: 12px;
    background-color: rgb(175, 43, 193, 0.11);
    display: grid;
    align-items: center;
    justify-content: center;
    color: #AF2BC1;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 900;
    &:hover{
      background-color: #AF2BC1;
      color: white;
      cursor: pointer;
    }
  }
