:root{
    --font-source-three: 'Source Sans 3';
    --font-spline-sans: "Spline Sans Mono";
    --box-shadow-auto: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    --font-fira-sans: "Fira Sans";    
} 

.mainPageContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #FAFAFA;
    box-sizing: border-box;
}

.leftBar{
    width: 18%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.mainBarContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.barContainer{
    width: 100%;
    height: 98%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.logoContainer{
    width: 90%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space;
    position: relative;
    margin-top: 2em;
}

.logo{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: #AF2BC1;
}

.companyName{
    position: absolute;
    font-family: var(--font-spline-sans);
    font-size: 2.1rem;
    font-weight: 700;
    right: 4%;
}


.companyDashboard{
    width: 90%;
    margin-top: 2em;
    min-height: 50%;
    box-sizing: border-box;
    padding-top: 1em;
}


.workspaceName{
    font-family: var(--font-spline-sans);
    font-size: 2rem;
    font-weight: 700;
    color: #848383;
}

.workspaceItems{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid #D9D9D9;
    margin-top: 1em;
    padding-left: 0.4em;
    &:hover{
        color: #AF2BC1;
    }
}
.dashboard, .inbox{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 600;
    color: #848383;
    align-items: center;
    &:hover{
        color: #AF2BC1;
        border-radius: 12px;
        cursor: pointer;
    }
}
.projectsItems{
    position: relative;
    height: 100%;
    margin-top: 2em;
}
.headerName{
    font-family: var(--font-spline-sans);
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0.2em;
    color: #848383;
}

.project{
    margin-top: 1em;
    padding-left: 1em;
    font-family: var(--font-source-three);
    font-size: 20px;
    color: #a7a3a3;
    &:hover{
        color: black;
        cursor: pointer;
        transform: scale(1.2) translate(20px);
    }
}

.createProject{
    border: 1px solid #848383;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    color: #848383;
    border-radius: 4px;
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}
.deleteProject{
    position: absolute;
    bottom: 2%;
    width: 100%;
    height: 40px;
    background-color: rgba(175, 43, 193, 0.11);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: var(--font-spline-sans);
    color: #848383;
    font-weight: 900;
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}

.projectManager{
    width: 100%;
    height: 98%;
    box-sizing: border-box;
    margin-left: 2%;
    border-radius: 12px;
    background-color: white;
}

.projectDetails{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding-left: 1em;
}

.projectHeader{
    margin-top: 1em;
    font-size: 2em;
    font-family: var(--font-spline-sans);
    color: rgba(0, 0, 0, 0.48);
}

.projectDescription{
    max-width: 70%;
    height: 20%;
    color: rgba(0, 0, 0, 0.48);
    margin-top: 1em;
    font-family: var(--font-spline-sans);
    font-size: 1rem;
}

.projectAddsOn{
    margin-top: 2em;
    height: 20%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    position: relative;
    box-sizing: border-box;
}
.projectStartDate, .projectStatus{
    font-family: var(--font-spline-sans);
    font-size: 1.2em;
    color: #848383;
}

.projectStatus{
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 8em;
}
.status{
    margin-left: 0.2em;
    width: 100%;
    height: 100%;
    background-color: #7BDAB1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848383;
    font-weight: 700;
    text-transform: uppercase;
    
}

.inviteUserToWorkspace{
    position: absolute;
    right: 0;
    bottom: 6%;
    width: 10%;
    display: flex;
    height: 100%;
    border-radius: 4px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(175, 43, 193, 0.34);
    font-size: 1.2em;
    font-family: var(--font-spline-sans);
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}

.taskView{
    width: 100%;
    height: 77%;
    box-sizing: border-box;
}

.taskHeader h3{
    font-family: var(--font-spline-sans);
    color: #848383;
    border-bottom: 3px solid #AF2BC1;
    width: fit-content;
    margin-top: 1em;
    padding-bottom: 0.4em;
}

.kanbanBoard{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 1em;
}
.taskBoard{
    /* width: 33%; */
    border-radius: 12px;
    background: rgb(240, 240, 240, 0.7);
    margin-right: 2em;
    margin-top: 2em;
    overflow-y: auto;
}

.taskBoard::-webkit-scrollbar{
    display: none;
}

.taskBoardsHeader{
    height: 6%;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 1.2em;
    font-family: var(--font-source-three);
    text-transform: uppercase;
    font-weight:700;
    color: #848383;
    position: sticky;
    top: 0;
}

.taskItems{
    width: 96%;
    height: 32%;
    border: 1px solid black;
    margin-left: 0.8em;
    margin-top: 1em;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.4em 1em;
    cursor: pointer;
}

.tasksDetails{
    width: 100%;
    height: 70%;
    border-bottom: 2px solid rgb(163, 163, 163);
}

.priority{
    width: 70px;
    height: 30px;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #96ff86;
    color: black;
}

.taskName{
    margin-top: 1em;
    font-family: var(--font-spline-sans);
    font-size: 1.1em;
    font-weight: 900;
}

.taskNote{
    font-family: var(--font-source-three);
    font-size: 1.2em;
    color: #848383;
    margin-top: 0.6em;
    overflow-y: hidden;
    height: 42%;
}


.membersPlusDate{
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}


.dueDate{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    color: gray;
}
.members{
    width: 70%;
    height: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.member{
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(235, 198, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    z-index: 1;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 400;
    color: gray;
}



/* Create Project Modal */

.modalOverlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContainer{
    width: 40%;
    height:60%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modalHeader{
    font-size: 20px;
    color: black;
    font-family: var(--font-spline-sans);
    font-weight: 900;
}

.provisions{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.provisions input{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-left: 1em;
    font-size: 1em;
    font-family: var(--font-spline-sans);
    border: 1px solid rgb(175, 43, 193, 0.6);
    border-radius: 4px;
    &:focus{
        outline: none;
        border: 3px solid #AF2BC1;
    }
}

.provisions textarea{
    width: 100%;
    height: 50%;
    border: 2px solid  rgb(175, 43, 193, 0.6);
    border-radius: 0;
    resize: none;
    box-sizing: border-box;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.6em;
    border-radius: 4px;
    &:focus{
        outline: none;
        border: 3px solid #AF2BC1;
    }
}

.modalButtons{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.createButton, .closeButton{
    width: 40%;
    height: 100%;
    background-color: rgba(175, 43, 193, 0.11);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #AF2BC1;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        color: #ffffff;
        background: #AF2BC1;
    };
}

