:root{
    --font-source-three: 'Source Sans 3';
    --font-spline-sans: "Spline Sans Mono";
    --box-shadow-auto: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    
}

*{
    box-sizing: border-box;
}  

.mainPageContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #FAFAFA;
}

.leftBar{
    width: 20%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.mainBarContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barContainer{
    width: 100%;
    height: 98%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.logoContainer{
    width: 90%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space;
    position: relative;
    margin-top: 2em;
}

.logo{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: #AF2BC1;
}

.companyName{
    position: absolute;
    font-family: var(--font-spline-sans);
    font-size: 2.1rem;
    font-weight: 700;
    right: 4%;
}


.companyDashboard{
    width: 90%;
    margin-top: 2em;
    min-height: 50%;
    box-sizing: border-box;
    padding-top: 1em;
}


.workspaceName{
    font-family: var(--font-spline-sans);
    font-size: 2rem;
    font-weight: 700;
    color: #848383;
}

.workspaceItems{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid #D9D9D9;
    margin-top: 1em;
    padding-left: 0.4em;
    &:hover{
        color: #AF2BC1;
    }
}
.dashboard, .inbox{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: var(--font-spline-sans);
    font-size: 20px;
    font-weight: 600;
    color: #848383;
    align-items: center;
    &:hover{
        color: #AF2BC1;
        border-radius: 12px;
        cursor: pointer;
    }
}
.projectsItems{
    position: relative;
    height: 100%;
    margin-top: 2em;
}
.headerName{
    font-family: var(--font-spline-sans);
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 0.2em;
    color: #848383;
}

.project{
    margin-top: 1em;
    padding-left: 1em;
    font-family: var(--font-source-three);
    font-size: 20px;
    color: #a7a3a3;
    &:hover{
        color: black;
        cursor: pointer;
        transform: scale(1.2) translate(20px);
    }
}

.createProject{
    border: 1px solid #848383;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    color: #848383;
    border-radius: 4px;
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}
.deleteProject{
    position: absolute;
    bottom: 2%;
    width: 100%;
    height: 40px;
    background-color: rgba(175, 43, 193, 0.11);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: var(--font-spline-sans);
    color: #848383;
    font-weight: 900;
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}

.projectManager{
    width: 100%;
    height: 98%;
    margin-left: 2%;
    border-radius: 12px;
    background-color: white;
}

.projectDetails{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding-left: 1em;
    position: relative;
}

.projectHeader{
    margin-top: 1em;
    font-size: 2em;
    font-family: var(--font-spline-sans);
    color: rgba(0, 0, 0, 0.48);
}

.projectDescription{
    max-width: 70%;
    height: 20%;
    color: rgba(0, 0, 0, 0.48);
    margin-top: 1em;
    font-family: var(--font-spline-sans);
    font-size: 1rem;
}

.projectAddsOn{
    margin-top: 2em;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.projectStartDate, .projectStatus{
    font-family: var(--font-spline-sans);
    font-size: 1.2em;
    color: #848383;
}

.projectStatus{
    display: flex;
    flex-direction: row;
    /* width: 40%; */
}
.status{
    margin-left: 0.2em;
    width: 100%;
    height: 100%;
    background-color: #7BDAB1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AF2BC1;
}

.inviteUserToWorkspace{
    position: absolute;
    right: 4%;
    bottom: 6%;
    width: 10%;
    display: flex;
    height: 20%;
    border-radius: 4px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(175, 43, 193, 0.34);
    font-size: 1.2em;
    font-family: var(--font-spline-sans);
    &:hover{
        background-color: #AF2BC1;
        color: white;
        cursor: pointer;
    }
}

.taskView{
    width: 100%;
    height: 80%;
}

.taskHeader h3{
    font-family: var(--font-spline-sans);
    color: #848383;
    border-bottom: 3px solid #AF2BC1;
    width: fit-content;
    margin-top: 1em;
    padding-bottom: 0.4em;
}

.kanbanBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 1em;
}
.taskBoard{
    border-radius: 12px;
    background: rgb(240, 240, 240, 0.7);
    margin-right: 2em;
    margin-top: 2em;
}

.taskBoardsHeader{
    width: 100%;
    height: 6%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 1.2em;
    font-family: var(--font-spline-sans);
}