:root{
    --font-source-three: 'Source Sans 3';
    --font-spline-sans: "Spline Sans Mono";
    --box-shadow-auto: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    
}
.projectContainer{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectView{
    width: 100%;
    height: 6% !important;
    border: 1px solid black;
    background-color: white;
    position:static;
    top: 0;
    display: flex;
}

.projectViewContainer{
    width: 100%;
    height: 90%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectViewContainer::-webkit-scrollbar{
    display: none;
}


.listView, .kanban, .calender{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.currentView{
    background-color: pink;
}


.projectDisplay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

