:root{
    --font-source-three: 'Source Sans 3';
    --font-spline-sans: "Spline Sans Mono";
    --box-shadow-auto: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    --font-fira-sans: "Fira Sans";    
} 

.container{
    width: 100%;
    height: 100svh;
    font-size: 20px;
}

.navcontainer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: space mono;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    color: blueviolet;
}

.navbuttons{
    margin-right: 2%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navbuttons button{
    width: 40%;
    height: 60%;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 20px;
    outline: none;
    background: #AF2BC1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}



.signupcontainer, .loginContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.formcontainer{
    width: 30%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.formHeader{
   margin-top: -20px; 
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   font-size: 20px;
}

.fullname, .emailcontainer, .passwordcontainer, button, .formHeader{
    width: 80%;
    height: 10%;
    margin-top: 40px;
}

.fullname input, .emailcontainer input, .passwordcontainer input{
    width: 100%;
    height: 80%;
    outline: none;
    border: 1.5px solid #AF2BC1;
    border-radius: 4px;
    font-family: 'Space Mono';
    font-size: 1.2em;
    font-weight: 800;
    padding: 0 10px;
    color: rgb(110, 101, 101);
    &:hover{
        border: 3px solid #AF2BC1;
    }
}

button{
    background: #d998e1;
    border-radius: 12px;
    height: 8%;
    color: white;
    font-size: 1.4em;
    width: 84%;
    margin-left: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: var(--font-spline-sans);
    font-weight: 700;
    outline: none;
    border: none;
    &:hover{
        background-color: #AF2BC1;
        cursor: pointer;
    }
}

.formErrors{
    color: red;
    margin-top: 2px;
    font-family: 'Space Mono';
    font-weight: 800;
}




/* Login Form Container */
.navsForms{
    font-size: 20px;
    font-family: 'Space Mono';
}

.navsForms a{
    text-decoration: none;
    color: blueviolet;
}


/* resetContainer */

.resetContainer{
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetForm{
    width: 30%;
    height: 34vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Space Mono';
    border-radius: 12px;
}

.resetEmail{
    width: 80%;
}
.resetEmail input{
    width: 96%;
    height: 60px;
    padding: 0 2%;
    margin-top: 20px;
    font-family: 'Space mono';
    font-size: 20px;
    border-radius: 4px;
    margin-top: 40px;
}

.resetForm button{
    width: 80%;
    height: 20%;
    background: palevioletred;
    margin-top: 20px;
}



/* verifyContainer */

.verifyContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Space Mono';
}

.verifyContainer h2{
    font-size: 1.6em;
    font-family: 'Space Mono';
    font-weight: 700;
    color:blueviolet;
}


.inputContainer{
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputContainer input{
    width: 90%;
    height: 30%;
    padding: 0 5%;
    font-size: 30px;
    font-family: 'Space Mono';
    font-weight: 800;
    color: blueviolet;
    border-radius: 5px;
}

.inputContainer button{
    height: 30%;
    width: 100%;
    margin: 0;
}

.verifyContainer h4{
    color: gray;
    cursor: pointer;
}


.createWorkspace{
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.createWorkspaceForm{
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
}
.createWorkspace input{
    width:90%;
    height: 14%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family:  "Spline Sans Mono";
    text-align: center;
    font-size: 20px;
    border: 1px solid orchid;
}

.createWorkspaceForm button{
    width: 90%;
    height: 40px;
    border-radius: 4px;
}

.createWorkspaceForm label{
    font-family: "Spline sans mono";
    font-size: 20px;
    margin-bottom: 20px;
}

.createWorkspaceForm input::placeholder{
    padding-left: 4px;
}


/* User Acceptace Page */
.acc_pg{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_acc_pg{
    width: 30%;
    aspect-ratio: 1/1;
    border: 1px solid #dd25ea;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 4em;
    box-shadow: var(--box-shadow-auto);
}
.email_acc_pg, .password_acc_pg{
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: column;
}
.email_acc_pg label, .password_acc_pg label{
    font-family: "Fira sans";
    font-size: 1.4em;
    margin-bottom: 0.4em;
}
.email_acc_pg input, .password_acc_pg input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1em;
    font-family: var(--font-spline-sans);
    font-size: 1em;
    font-weight: 700;
    color: #585858;
    outline: none;
    border: 1px solid #AF2BC1;
    border-radius: 4px;
    &:hover{
        border: 2.5px solid #AF2BC1;
        outline: none;
    }
}
.form_acc_pg p{
    font-family: var(--font-spline-sans);
    font-size: 1.4em;
    color: #AF2BC1;
    font-weight: 800;
}

.form_acc_pg button{
    background-color: #d998e1;
    border: none;
    font-weight: 700;
    &:hover{
        background-color: #AF2BC1;
        cursor: pointer;
        color: white;
    }
}